<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStoreDataSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/StoreDataSoap/StoreDataSoap.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStoreDataSoap"
                contract="StoreDASoap.IStoreDataSoap" name="BasicHttpBinding_IStoreDataSoap" />
        </client>
    </system.serviceModel>
</configuration>